# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# Bundle
dist

# local env files
*.local
.eslintcache
cypress/screenshots/*
cypress/videos/*
tmp

# packages
packages/*/dist
