# shamefully-hoist=true
# strict-peer-dependencies=false
# shell-emulator=true

# 设置 registry 为公司内部的私有 registry
# registry=https://your-registry-url.com/

# 设置 scope 为公司内部的私有 scope
# @your-scope:registry=https://your-registry-url.com/

# 设置 auth token，用于访问私有 registry
# //your-registry-url.com/:_authToken=your-auth-token
