.system-app-architecture--ham[data-v-675bac87],
.system-app-architecture--ahm[data-v-675bac87],
.system-app-architecture--hm[data-v-675bac87],
.system-app-architecture--am[data-v-675bac87] {
  position: relative;
  width: 100%;
  height: 100%;
}
.system-app-architecture--ham > .el-container[data-v-675bac87],
.system-app-architecture--ahm > .el-container[data-v-675bac87],
.system-app-architecture--hm > .el-container[data-v-675bac87] {
  height: calc(100% - calc(var(--ddfc0830) * 1px));
}
.system-app-architecture--am > .el-container[data-v-675bac87] {
  height: 100%;
}
.el-header--custom[data-v-675bac87],
.el-aside--custom[data-v-675bac87],
.el-main--custom[data-v-675bac87] {
  position: relative;
  padding: 0;
  transition: all 0.3s;
}
.el-aside--custom[data-v-675bac87] {
  z-index: 999;
  overflow-y: scroll;
  transition: width 0.3;
}
.system-app-architecture--ham .el-header--custom[data-v-675bac87] {
  width: 100%;
  height: calc(var(--ddfc0830) * 1px);
}
.system-app-architecture--ham .el-aside--custom[data-v-675bac87] {
  width: calc(var(--667fda42) * 1px);
  height: 100%;
}
.system-app-architecture--ham .el-main--custom[data-v-675bac87] {
  width: calc(100% - calc(var(--667fda42) * 1px));
  height: 100%;
}
.system-app-architecture--ahm .el-header--custom[data-v-675bac87] {
  transform: translateX(calc(var(--667fda42) * 1px));
  width: calc(100% - calc(var(--667fda42) * 1px));
  height: calc(var(--ddfc0830) * 1px);
}
.system-app-architecture--ahm .el-aside--custom[data-v-675bac87] {
  transform: translateY(calc(var(--ddfc0830) * -1px));
  width: calc(var(--667fda42) * 1px);
  height: calc(100% + calc(var(--ddfc0830) * 1px));
}
.system-app-architecture--ahm .el-main--custom[data-v-675bac87] {
  width: calc(100% - calc(var(--667fda42) * 1px));
  height: 100%;
}
.system-app-architecture--hm .el-header--custom[data-v-675bac87] {
  width: 100%;
  height: calc(var(--ddfc0830) * 1px);
}
.system-app-architecture--hm .el-main--custom[data-v-675bac87] {
  width: 100%;
  height: 100%;
}
.system-app-architecture--hm .el-aside--custom[data-v-675bac87] {
  width: 0;
  overflow: hidden;
}
.system-app-architecture--am .el-aside--custom[data-v-675bac87] {
  width: calc(var(--667fda42) * 1px);
  height: 100%;
}
.system-app-architecture--am .el-main--custom[data-v-675bac87] {
  width: 100%;
  height: 100%;
}
.system-app-architecture--am .el-header--custom[data-v-675bac87] {
  height: 0;
  overflow: hidden;
}
.app-enter-active[data-v-675bac87],
.app-leave-active[data-v-675bac87] {
  transition: all 0.5s;
}
.app-enter-from[data-v-675bac87],
.app-leave-to[data-v-675bac87] {
  opacity: 0;
  transform: translateX(100px);
}
.app-enter-to[data-v-675bac87],
.app-leave-from[data-v-675bac87] {
  opacity: 1;
  transform: translateX(0);
}