
.illustration--not-found[data-v-e3297563] {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    margin: 0 auto;
}

.illustration--not-found[data-v-68ad7f1c] {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    margin: 0 auto;
}
