.base-main--wrapper[data-v-4a39472a] {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-tabs--box[data-v-4a39472a] {
  height: 35px;
  width: 100%;
}
.main-content--box[data-v-4a39472a] {
  flex: 1;
  padding: 10px 10px 0;
  background-color: var(--340aaefa);
}
.base-view--transition-enter-active[data-v-4a39472a],
.base-view--transition-leave-active[data-v-4a39472a] {
  transition: all 0.3s;
}
.base-view--transition-enter-from[data-v-4a39472a],
.base-view--transition-leave-to[data-v-4a39472a] {
  opacity: 0;
  transform: translateX(10px);
}
.base-view--transition-enter-to[data-v-4a39472a],
.base-view--transition-leave-from[data-v-4a39472a] {
  opacity: 1;
  transform: translateX(0);
}.el-aside--custom.el-aside .el-menu.el-menu--vertical,
.el-aside--custom.el-aside .el-sub-menu .el-menu-item {
  --el-menu-item-height: 40px;
  --el-menu-sub-item-height: 40px;
  /* padding: 5px 10px; */
  border-right: none;
  user-select: none;
}
.el-aside--custom.el-aside .el-menu.el-menu--collapse {
  /* padding: 5px 0; */
}
.el-aside--custom.el-aside .el-menu-item.is-active {
  background-color: var(--el-color-primary-light-7);
  border-radius: 4px;
}
.el-aside--custom.el-aside .el-menu-item:hover,
.el-aside--custom.el-aside .el-sub-menu__title:hover {
  background-color: var(--el-color-primary-light-9);
  border-radius: 4px;
}
.base-menu--content .el-sub-menu__title > .el-icon > span {
  font-style: normal;
}
.horizontal-collapse-transition .el-menu-item > span:nth-child(2),
.horizontal-collapse-transition .el-sub-menu__title > span {
  opacity: 0;
  transition: all 0.3s;
}.el-aside--custom.el-aside .el-menu.el-menu--vertical[data-v-3577d2d5] {
  border-right: none;
  user-select: none;
  height: 100%;
}
.base-menu--content .el-sub-menu__title > .el-icon > span[data-v-3577d2d5] {
  font-style: normal;
}
.horizontal-collapse-transition .el-menu-item > span[data-v-3577d2d5]:nth-child(2),
.horizontal-collapse-transition .el-sub-menu__title > span[data-v-3577d2d5] {
  opacity: 0;
  transition: all 0.3s;
}