.app-main--wrapper[data-v-8f7b9e01] {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content--box[data-v-8f7b9e01] {
  box-sizing: border-box;
  height: calc(100% - 35px);
  flex: 1;
  padding: 10px 10px 0;
  background-color: var(--9acbce4e);
}
.app-view--transition-enter-active[data-v-8f7b9e01],
.app-view--transition-leave-active[data-v-8f7b9e01] {
  transition: all 0.3s;
}
.app-view--transition-enter-from[data-v-8f7b9e01],
.app-view--transition-leave-to[data-v-8f7b9e01] {
  opacity: 0;
  transform: translateX(10px);
}
.app-view--transition-enter-to[data-v-8f7b9e01],
.app-view--transition-leave-from[data-v-8f7b9e01] {
  opacity: 1;
  transform: translateX(0);
}.app-layout-type--wrapper[data-v-3eea3e67] {
  cursor: pointer;
  height: 70px;
  margin-bottom: 8px;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  transition: all 0.3s ease-in-out;
}
.app-layout-type--wrapper[data-v-3eea3e67]:hover {
  transform: scale(1.1);
}
.layout-type--content[data-v-3eea3e67] {
  position: relative;
  width: 100%;
  height: 100%;
}
.layout-type--head[effect="[dark]"][data-v-3eea3e67] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18px;
  background: var(--el-color-primary);
}
.ham > .layout-type--head[effect="[dark]"][data-v-3eea3e67] {
  z-index: 999;
}
.am > .layout-type--head[effect="[dark]"][data-v-3eea3e67] {
  display: none;
}
.layout-type--head[effect="[light]"][data-v-3eea3e67] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18px;
  background: var(--el-color-info-light-7);
}
.ham > .layout-type--head[effect="[light]"][data-v-3eea3e67] {
  z-index: 999;
}
.am > .layout-type--head[effect="[light]"][data-v-3eea3e67] {
  display: none;
}
.layout-type--aside[effect="[dark]"][data-v-3eea3e67] {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 100%;
  background: var(--el-color-info-light-7);
}
.hm > .layout-type--aside[effect="[dark]"][data-v-3eea3e67] {
  display: none;
}
.layout-type--aside[effect="[light]"][data-v-3eea3e67] {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 100%;
  background: var(--el-color-primary);
}
.hm > .layout-type--aside[effect="[light]"][data-v-3eea3e67] {
  display: none;
}
.layout-type--active[data-v-3eea3e67] {
  content: "";
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 30px;
  height: 30px;
  z-index: 999;
}
.el-menu-item.is-active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background-color: var(--el-color-primary);
    border-radius: 0 4px 4px 0;
    animation: menu-item-enter 0.6s;
}
@keyframes menu-item-enter {
0% {
        transform: translateX(-100%);
}
100% {
        transform: translateX(0);
}
}
.el-aside--custom.el-aside .el-sub-menu, .el-aside--custom.el-aside .el-menu-item {
  margin-bottom: 3px;
}
.el-aside--custom.el-aside .el-menu.el-menu--vertical,
.el-aside--custom.el-aside .el-sub-menu .el-menu-item {
  --el-menu-item-height: 40px;
  --el-menu-sub-item-height: 40px;
  border-right: none;
  user-select: none;
}
.el-aside--custom.el-aside .el-menu-item.is-active {
  background-color: var(--el-color-primary-light-7);
  border-radius: 4px;
}
.el-aside--custom.el-aside .el-menu-item:hover,
.el-aside--custom.el-aside .el-sub-menu__title:hover {
  background-color: var(--el-color-primary-light-9);
  border-radius: 4px;
}
.app-menu--content .el-sub-menu__title > .el-icon > span {
  font-style: normal;
}
.horizontal-collapse-transition .el-menu-item > span:nth-child(2),
.horizontal-collapse-transition .el-sub-menu__title > span {
  opacity: 0;
  transition: all 0.3s;
}
.el-popper:has(.el-menu--popup) {
  border: 0 !important;
}
.el-popper:has(.el-menu--popup) .el-menu-item {
  margin: 0 6px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 3px;
}
.el-popper:has(.el-menu--popup) .el-menu-item.is-active {
  background-color: var(--el-color-primary-light-7);
}.el-menu.el-menu--vertical[data-v-9186e9a3] {
  border-right: none;
  user-select: none;
  height: 100%;
}
.app-menu--content[data-v-9186e9a3] {
  overflow-y: scroll;
}
.app-menu--content .el-sub-menu__title > .el-icon > span[data-v-9186e9a3] {
  font-style: normal;
}
.toggle-collapse--icon[data-v-9186e9a3] {
  cursor: pointer;
  position: absolute;
  right: -8px;
  bottom: 10%;
  width: 18px;
  height: 18px;
  color: #fff;
  background-color: var(--el-color-primary-light-5);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.toggle-collapse--icon[data-v-9186e9a3]:hover {
  background-color: var(--el-color-primary-light-3);
  transform: scale(1.1);
}
.app-header--wrapper[data-v-e476cac7] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.system-app-setup[data-v-e476cac7] {
    cursor: pointer;
    position: fixed;
    right: -20px;
    bottom: 30%;
    width: 30px;
    height: 30px;
    z-index: 999;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-image: linear-gradient(45deg, var(--el-color-primary-light-5) 60%, #f3f3f3 100%);
    transition: all 0.3s;
&[data-v-e476cac7]:hover {
        transform: translateX(-15px);
}
}
.app-header--right[data-v-e476cac7] {
    display: flex;
    align-items: center;
}
@media only screen and (max-width:767px){.hidden-xs-only{display:none!important}}@media only screen and (min-width:768px){.hidden-sm-and-up{display:none!important}}@media only screen and (min-width:768px) and (max-width:991px){.hidden-sm-only{display:none!important}}@media only screen and (max-width:991px){.hidden-sm-and-down{display:none!important}}@media only screen and (min-width:992px){.hidden-md-and-up{display:none!important}}@media only screen and (min-width:992px) and (max-width:1199px){.hidden-md-only{display:none!important}}@media only screen and (max-width:1199px){.hidden-md-and-down{display:none!important}}@media only screen and (min-width:1200px){.hidden-lg-and-up{display:none!important}}@media only screen and (min-width:1200px) and (max-width:1919px){.hidden-lg-only{display:none!important}}@media only screen and (max-width:1919px){.hidden-lg-and-down{display:none!important}}@media only screen and (min-width:1920px){.hidden-xl-only{display:none!important}}
